@media (max-width: 767px) {
  #WellHelloAgain {
    padding: 10px;
  }

  nav ul {
    display: none;
  }

  nav img {
    width: 70px;
  }

  .areyoureadyforround2 h1 {
    font-size: 50px;
  }

  .areyoureadyforround2 p {
    font-size: 18px;
  }

  #about {
    flex-direction: column;
  }

  #about img {
    max-width: 100%;
    height: auto;
  }

  .greatcommanders h1 {
    font-size: 50px;
  }

  .greatcommanders p {
    font-size: 16px;
  }
}
